.body{
    background-color: #ffffff;
}
.head{
    padding-top: 1rem;
}

.mainContainer{
    padding-bottom:1rem;
    padding-top:3rem;
}
.secret{
    text-align: center;
    height: 8rem;
    border-radius: 8px;
    border:0.1rem dotted #cccccc;
    padding: 0.1rem;
    font-size: 1rem;
}

